################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/new 4.java
